.headerContainer {
  height: 5rem;
  padding: 0 2rem;
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2 rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    cursor: pointer;
  }
}

.headerMenu {
  display: flex;
  align-items: center;

  a {
    color: var(--white);
    padding: 0 0.5rem;
    display: inline-block;
    position: relative;
    transition: color 0.7s;

    & + a {
      margin-left: 2rem;
    }

    &:hover {
      color: var(--red-900);
    }
  }

  button {
    margin-left: 2rem;
    background-color: transparent;
    border: 0;
    transition: transform 0.5s;


    &:hover {
      transform: scale(1.2);
    }
  }
}